$title-color: #080707;
$text-color: #878181;
$text-size: 25px;
$sum-color: #1506e2;
$sum-bold: bold;

@mixin size-img {
    width: 390px;
    height: 380px;
}
@mixin reset {
    margin: 10px;
    padding: 10px;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin space-between{
    display: flex;
    justify-content: space-between;
}

html {
    box-sizing: border-box;
}
.wrapper{
    max-width: 1278px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-title{
    color: $title-color;
    font-size: 47px;}
.card{
    @include space-between();
    width: 1200px;
    height: 380px;
    @include reset();
}
.card:not(:last-child){
    border-bottom: 2px solid rgb(9, 9, 9);}
.card__image{
   @include size-img();
   @include reset();
}
.card__image:hover{
        transform: scale(1.5);
}
.card__title{
    color:$title-color;
}
.card__subtitle{
    color: $text-color;
    font-size: $text-size;
}
.product-info{
   @include flex-column()
}
.card-left{
    display: flex;
    align-items: center;
}
.sum {
    color: #3e34c7;
   display: flex;
   align-items: center;
   font-size: 30px;
   font-style: $sum-bold;
}
.cards{
    max-width: 1270px;
    @include flex-column();
    border: 2px solid rgb(9, 9, 9);
    @include reset();
    margin-bottom: 70px;
}
.btn-coupon{
    background-color: black;
    color: aliceblue;
    width: 370px;
    height: 100px;
    cursor: pointer;
    font-size: $text-size;
}
.btn-coupon:hover {
    opacity: 0.75;
}
.oprice-right{
    @include flex-column();
}

#result{
    font-size: 33px;
    color: ;
    display: flex;
    align-items: center;
}